# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAw6lcYKh8D6gl9y8OyLmVVSTR16GksBnU
VITE_FIREBASE_AUTH_DOMAIN=nassu-authentication.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nassu-authentication
VITE_FIREBASE_STORAGE_BUCKET=nassu-authentication.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=159437275096
VITE_FIREBASE_APP_ID=1:159437275096:web:ca524dd719f50687de7cad


# JWT Secret
JWT_SECRET=F+3u4KoJx+dx3LdBwnGKZGtKVUC0LfuN7QWhGRLIhug=

# MongoDB Connection
MONGODB_URI=mongodb+srv://birhanu:AXTp1ftuKhaCSud6@cluster0.fhnuwkr.mongodb.net/nassu?retryWrites=true&w=majority

# Server Port
PORT=5000

# CORS Origin
CORS_ORIGIN=http://localhost:3000

# PayPal Live Configuration

# PayPal Live Configuration by birhanu
PAYPAL_CLIENT_ID=AYWNymzlVe3FvYo5Vayb9qhcsUomEz0ZLfm2f_jH_1RcxCxqgW0meAUd1WeMjCgG1UWPrwPHqjGlMSGO
PAYPAL_CLIENT_SECRET=EEs5U4sfDgSdshLQiL5xbTMD_SyMT8P9oxdQprnHjcDduXtKopoJrbbRteZgvH-I8Z-dB8oDGjJJFWLZ
ENV=production

# PayPal Live Configuration by wos
#VITE_PAYPAL_CLIENT_ID=ASYI-_yUEhtMPy2wagUPZyUBuY1f-h-gpAEOcMyg7I1Eul-OEOCiQdNaki3cGYOgXTClC9BX0J3PrnbO
#VITE_PAYPAL_CLIENT_SECRET=EJdQOzUx5yEv-22vvW-v5BuRQaNtHXDhY0Q9Q3rtrp67Prxn4DZ1DhXVT75ultBqlSn0XNPDt34FDUHS
#VITE_ENV=production